/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
  list-style: none;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  color: #8D9093;
  font-family:PF Din Text Pro Light;
  @include flexbox;
  @include flex-direction(column);

}

p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
a {
  color: #8D9093;
  text-decoration: none;

  &:hover {
    color: #7bf15b;
  }
}

nav {
  background: #000;
  border-bottom: 4px solid #7bf15b;
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding: 0.5vmax;

  > a {
    padding-left: 20px;
    font-weight: bold;
    font-size: 22px;
  }
  a {
    color: #fff;
    text-transform: uppercase;

  }
  ul {
    //@include flex-grow(1);
    @include flexbox;

    a {
      //font-size: 1.25vmax;
      font-size: 14px;
      margin-right: 15px;
      padding-bottom: 3px;
      letter-spacing: 2px;

      &.current {
        border-bottom: 2px solid #58a643;
      }
    }
  }
}

.page-content {
  min-height: calc(75vh);
}

div.text,
section.text {
  background-color: #dadfea;
  padding: 30px 0;
  text-align: center;

  h2 {
    margin-bottom: 15px;
  }
}

div.centered-images {
  background-color: #e7eaed;
  @include flexbox;
  @include width-more-than($x-small-width) {
    @include justify-content(center);
  }

  @include width-less-than($x-small-width) {
    @include flex-direction(column);
  }

  .first {
    background:url(http://placeimg.com/400/250/people/grayscale) 0 0 no-repeat;
  }

  .second {
    background:url(http://placeimg.com/400/250/tech/grayscale) 0 0 no-repeat;
  }

  div.first,
  div.second {
    background-size: cover;
    @include flexbox;
    @include flex-direction(column);

    width: 400px;
    height: 250px;

    @include width-less-than($x-small-width) {
      @include justify-content(center);
      width: 100%;
      height: auto;
    }

    > div {
      flex-grow: 1;
      text-align: center;
      padding: 5% 0;

      p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

button.green {
  background-color: #7bf15b;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  padding: 5px 10px;

  &:hover {
    color: #fff;
  }
}

div.agreement {
  background: #fff;

  ul {
    @include flexbox;
    @include justify-content(center);
    @include align-items(stretch);
    margin: 0;
    padding: 0;

    @include width-less-than($xx-small-width) {
      @include flex-direction(column);
    };

    li {
      padding: 10px 40px;
    }

    p {
      font-size: 11px;
    }
  }

  img {
    height: auto;
    width: 100px;
  }
}

div.two-column {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(center);
  padding: 0 10vw;

  padding-bottom: 35px;

  @include width-less-than($x-small-width) {
    @include flex-direction(column);
    padding-bottom: 0;
  }

  @include width-more-than($large-width) {
    padding: 0 15vw;
  }



  > div {
    padding: 0 2vw;
    width: 50%;

    @include width-less-than($x-small-width) {
      padding: 1vw 0;
      width: auto;
    }
  }

  h3 {
    margin-bottom: 20px;
  }
}

.term-questions {
  > p {
    padding-bottom: 20px;
  }
  > h2,
  > p {
    @include width-less-than($x-small-width) {
      padding: 2vw 5vw;
    }
  }
  text-align: justify;
}

div.join {
  background-color: #fff;

  input {
    padding: 5px;
    width: 25vw;
    margin-bottom: 20px;
    margin-right: 1.5vw;
    max-width: 300px;
    @include width-less-than($x-small-width) {
      width: 35vw;
    }

    @include width-less-than($xx-small-width) {
      width: 45vw;
    }
  }
}


/* Agreements Page */
section.subnav {
  background-color: #e9ecef;

  ul {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    padding: 0;
    margin: 0;

    li {
      background-color: #dadfea;
      padding: 20px;
      margin-right: 5px;

      &:last-child {
        margin:0;
      }
    }

    a {
      display: block;
    }
  }

  h3 {
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
  }

  img {
    height: 80px;
    padding: 0 15px;
    width: 80px;
  }
}

div.narrow {
  background-color: #fff;

  p {
    text-align: center;
    font-size: 18px;
    margin: auto;
    width: 50%;
  }
}

div.types-ownership {
  background-color: #f3f5f6;
  padding-bottom: 0;

  p {
    text-align: center;
    margin: auto;
    width: 60%;
  }

  > div {
    margin: auto;
    padding-top: 20px;
    width: 320px;

    .triangle {
      width: 0px;
      height: 0px;
      border-top: 30px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 320px solid green;
    }

    ul {
      @include flexbox;
      @include justify-content(space-between);
      margin: 15px 0 60px;
      padding: 0;

      li {
        background-color: #f3f5f6;
        padding: 0;
        margin: 0;

        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  h1 {
    background-color: #b3b3b3;
    color: #fff;
    font-size: 26px;
    letter-spacing: 3px;
    margin: 20px 0 0;
    padding: 12px 0 8px;
    text-transform: uppercase;
  }
}

section.open-source {
  background: url(/img/open-source.png) 16% 30px no-repeat;
  background-color: #f3f5f6;
  background-size: 70px 70px;
  margin: auto;
  padding: 45px 25% 30px;
  text-align: left;

  &.negotiated {
    background: url(/img/negotiated-ownership.png) 16% 30px no-repeat;
    background-color: #fff;
    background-size: 70px 70px;
  }

  h2 {
    font-size: 30px;
    padding-bottom: 10px;

    &.second {
      border-top: 1px solid #d1d1d1;
      margin-top: 20px;
      padding-top: 20px;
    }
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }
}

.git-links {
  @include flexbox;
  @include justify-content(space-between);

  > div {
    width: 50%;
  }

  h4 {
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      background-color: #7bf15b;
      border: 1px solid #b3b3b3;
      float: left;
      padding: 10px 15px;

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }


      a {
        letter-spacing: 1px;

        &:hover {
          color: #000;
        }
      }
    }
  }

  .right p {
    font-size: 12px;
  }
}

/* Donate Page */

.mailing-list {
  @include flexbox;
  @include flex-direction(column);
}

/* End Donate Page */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
