.rights {

  .page-content {
    background-color: #727272;
  }

  .text {
    background-color: #727272;
    color: #ccc;
    padding: 150px 25%;

    @include width-more-than($large-width) {
      padding: 150px 30%;
    }

    button {
      margin-top: 40px;
    }
  }

}
