.rights {

  .text {
    background-color: #727272;
    color: #ccc;

    padding: 150px 15%;

    @include width-more-than($large-width) {
      padding: 150px 30%;
    }

    button {
      margin-top: 40px;
    }
  }

}
